panel data


comienza en la econometr√≠a

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = {
    'manzanas': [1,0,3,4,7,9],
    'naranjas':[0,3,8,1,0,2]
}

In [6]:
data

{'manzanas': [1, 0, 3, 4, 7, 9], 'naranjas': [0, 3, 8, 1, 0, 2]}

In [7]:
data['manzanas']

[1, 0, 3, 4, 7, 9]

In [8]:
data['naranjas']

[0, 3, 8, 1, 0, 2]

In [9]:
df = pd.DataFrame(data)

In [10]:
df

   manzanas  naranjas
0         1         0
1         0         3
2         3         8
3         4         1
4         7         0
5         9         2

In [11]:
df['manzanas']

0    1
1    0
2    3
3    4
4    7
5    9
Name: manzanas, dtype: int64

In [12]:
df['manzanas'][1]

0

In [13]:
df['manzanas'][2]

3

In [14]:
df.manzanas

0    1
1    0
2    3
3    4
4    7
5    9
Name: manzanas, dtype: int64

In [18]:
df.manzanas.values

array([1, 0, 3, 4, 7, 9])

In [19]:
### paso 1 importar, ya se hizo arriba

In [20]:
df = pd.read_csv('imdb.csv')