# Core Python

## Tipos de datos
- Números enteros
- Números flotantes
- Strings
- Booleanos (lógicos)
- Números complejos

### Enteros

In [1]:
1

1

In [2]:
23487523

23487523

In [4]:
1,500,000

(1, 500, 0)

### Flotantes

In [1]:
1.5

1.5

In [2]:
3.1416

3.1416

In [3]:
21312.654234

21312.654234

### Strings

In [4]:
"Soy un string"

'Soy un string'

In [5]:
'Pueden ser con comillas singulares también'

'Pueden ser con comillas singulares también'

In [6]:
"Si usamos comillas dobles, nuestro string puede incluir 'comillas singulares' sin ningún problema"

"Si usamos comillas dobles, nuestro string puede incluir 'comillas singulares' sin ningún problema"

In [7]:
"Pero también podemos \"escapar\" caracteres"

'Pero también podemos "escapar" caracteres'

### Booleanos
Los booleanos también se conocen como variables o valores lógicos. Un booleano puede tomar únicamente dos valores: `True` o `False`. Los booleanoos son los resultados de las operaciones lógicas (las veremos más adelante).

In [8]:
True

True

In [9]:
False

False

In [10]:
5 > 4

True

In [11]:
10 < 100

True

In [12]:
7 < 3

False

In [13]:
"Gerardo" == "gerardo"

False

## Variables
Python no es un lenguaje `tipado`, es decir, no tenemos que especificar el tipo de dato de nuestra variable al declararla.

En lenguajes tipados (C#) debemos declarar nuestras variables especificando el tipo de dato de nuestra variable:

~~~~c#
int x = 5;
int y = 20;
double z = 45.2;
~~~~

Esto no es necesario en Python. El intérprete automáticamente infiere el tipo de dato que estamos usando
~~~~python
x = 5
y = 20
z = 45.2
~~~~

In [14]:
x = 5
y = 20
z = 45.2

In [15]:
x

5

In [16]:
y

20

In [17]:
z

45.2

In [18]:
nombre = "Gerardo"
apellido = "Mathus"

In [19]:
nombre

'Gerardo'

In [20]:
apellido

'Mathus'

In [21]:
apellido_materno

NameError: name 'apellido_materno' is not defined

In [22]:
apellido_materno ="Gómez Sandoval"

In [23]:
apellido_materno

'Gómez Sandoval'

**Pensemos en una variable como en una 'caja' en la cual vamos a guardar valores.**

In [24]:
bandera = True

In [25]:
bandera

True

In [26]:
resultado_comparacion = 100 > 1000

In [27]:
resultado_comparacion

False

---

## Operadores de comparación
- `==`
- `!=`
- `>`
- `>=`
- `<`
- `<=`

In [28]:
5 == 5

True

In [29]:
comp = 5 == 10

In [30]:
comp

False

In [31]:
5 == "5"

False

In [32]:
5.0 == 5

True

In [33]:
5.1 == 5

False

In [34]:
5 != "5"

True

In [35]:
10 != 50

True

In [36]:
"Gerardo" == "gerardo"

False

In [37]:
"mathus" == "mathus"

True

In [38]:
nombre1 = "Karla"
nombre2 = "Paz"

In [39]:
nombre1

'Karla'

In [40]:
nombre2

'Paz'

In [41]:
nombre1 == nombre2

False

In [42]:
nombre1 != nombre2

True

In [46]:
x = 9
y = 10

In [47]:
x < y

True

In [48]:
9 <= 9

True

In [49]:
int(x == y)

0

In [50]:
int(False)

0

In [51]:
int(True)

1

---

## Operadores lógicos
- `and`
- `or`
- `not`

In [52]:
True & True

True

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
True & False

False

In [56]:
True or True

True

In [57]:
True or False

True

In [58]:
True | False

True

## Concatenación de operadores lógicos - Comparaciones complejas
Supogamos que queremos otorgar una promoción a todas las mujeres que tengan entre 21 y 30 años:

In [63]:
sexo = input("Sexo (h/m): ")

Sexo (h/m): m

In [64]:
edad = int(input("Edad: "))

Edad: 28

In [66]:
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30

In [67]:
promocion_aplica

True

In [75]:
sexo = "h"
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: False

In [76]:
sexo = "m"
edad = 32
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: False

In [77]:
sexo = "m"
edad = 30
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: True

---

## Operaciones con datos
- suma `+`
- resta `-`
- multiplicación `*`
- división `/`
- ** `exponenciales`
- modular `%`

In [78]:
5 + 5

10

In [79]:
5 - 1

4

In [80]:
65 * 2

130

In [81]:
5000/20

250.0

In [82]:
9 ** 2

81

In [83]:
3 ** 3

27

In [84]:
10 % 3

1

In [85]:
a = 5
b = 2

In [86]:
a * b

10

In [87]:
a / b

2.5

In [88]:
a ** b

25

In [89]:
print(b)

2

In [90]:
string1 = "Soy una cadena de caracteres"
print(string1)

Soy una cadena de caracteres

In [91]:
string2 = "Python hace muy fácil el manejo de strings"

In [92]:
string1 + string2

'Soy una cadena de caracteresPython hace muy fácil el manejo de strings'

In [93]:
string1 - string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [94]:
string1 / string2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [95]:
string1 * string2

TypeError: can't multiply sequence by non-int of type 'str'

In [96]:
"*" * 40

'****************************************'

## Listas
Una lista es una secuencia de valores. Se caracterizan por ser mutables y porque sus valores están indexados. Veamos:

In [97]:
lista = [1,3,5,7,9]
lista

[1, 3, 5, 7, 9]

In [98]:
lista[1]

3

In [99]:
lista * 3

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [100]:
lista[0:2]

[1, 3]

In [101]:
lista.append(11)

In [102]:
lista

[1, 3, 5, 7, 9, 11]

In [103]:
lista.append(13)
lista

[1, 3, 5, 7, 9, 11, 13]

In [104]:
lista.remove(13)

In [106]:
lista

[1, 3, 5, 7, 9, 11]

In [107]:
lista.remove(1)
lista

[3, 5, 7, 9, 11]

In [108]:
lista.remove(1)

ValueError: list.remove(x): x not in list

In [109]:
lista

[3, 5, 7, 9, 11]

Si queremos acceder al número 7, tenemos que contar desde 0 de izquierda a derecha hasta llegar a la posición en la que se encuentra el 7.

$[0] \rightarrow 3$

$[1] \rightarrow 5$

$[2] \rightarrow 7$

$[3] \rightarrow 9$

$[4] \rightarrow 11$

In [111]:
#El número 7 está en el índice 2
lista[2]

7

In [112]:
#El número 11 está en el índice 4
lista[4]

11

In [113]:
#no hay índicc > 4
lista[5]

IndexError: list index out of range

Una lista puede tener elementos de diferentes tipos de dato

In [114]:
lista2 = ['Gerardo', 'Mathus', 24, 3.1416, True]

In [115]:
lista2

['Gerardo', 'Mathus', 24, 3.1416, True]

---

## Tuplas

Una tupla es una secuencia de objetos arbitrario separados por comas y rodeados de paréntesis. Las tuplas, a diferencia de las listas, son **INMUTABLES**. Veamos un ejemplo y comparemos con las listas

In [1]:
mi_tupla = (1,2,3)

In [2]:
#accedemos por índices
mi_tupla[1]

2

In [5]:
mi_tupla[2]

3

In [6]:
mi_lista = [1,2,3]

In [7]:
mi_lista[2]

3

Lista: vamos a cambiar el elemento del índice 2 mediante asignación

In [8]:
mi_lista[2] = 1000

Ahora nuestro elemento en el índice $2$ es $1000$. Ya no es $3$

In [9]:
mi_lista

[1, 2, 1000]

Esto **NO** se puede hacer en tuplas. Veamos:

In [10]:
mi_tupla[2] = 1000

TypeError: 'tuple' object does not support item assignment

Las tuplas, como lo strings, son secuencias inmutables.

---
## Asignación en objetos mutables

In [12]:
a = [0,1,1,3,5,8,13]

In [13]:
b = a

In [14]:
b

[0, 1, 1, 3, 5, 8, 13]

In [15]:
b.append(100)

In [16]:
b

[0, 1, 1, 3, 5, 8, 13, 100]

In [17]:
a

[0, 1, 1, 3, 5, 8, 13, 100]

En objetos mutables, la asignación de un objeto a una nueva variable no genera un nuevo objeto, sino que crea una referencia al objeto base. En el ejemplo anterior, creamos la lista `a`, posteriormente asignamos `a` a una variable `b`. Al mutar `b` (`b.append(100)`), los cambios se ven reflejados tanto en `a` como en `b`.

Si quisieramos crear un nuevo objeto, lo haríamos de la siguiente manera:

In [18]:
a = [0,1,1,3,5,8,13]
a

[0, 1, 1, 3, 5, 8, 13]

In [20]:
#a es nuestra lista base
b = a[:]
b

[0, 1, 1, 3, 5, 8, 13]

Ahora `b` contiene todos los elementos de `a`. 

Mutemos `b` agregando un elemento

In [21]:
b.append("VIVA MÉXICO!")

Checamos `a` y `b`

In [23]:
a

[0, 1, 1, 3, 5, 8, 13]

In [24]:
b

[0, 1, 1, 3, 5, 8, 13, 'VIVA MÉXICO!']

Como podemos ver, los cambios únicamente se hicieron en `b`

---

## Listas multidimensionales

Podemos expresar matrices en la forma de listas anidadas o listas multidimensionales. Veamos un ejemplo:

In [25]:
a = [[1,2,3], [4,5,6], [7,8,9]]

In [26]:
a[1]

[4, 5, 6]

Lo que estamos haciendo aquí es crear una lista de listas. La lista más externa representa a la matriz y las listas internas representan las filas de la matriz. El elemento `a[1]` es realmente la segunda fila de nuestra matriz:
$$A = \begin{bmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9\end{bmatrix}$$

Hablaremos más de matrices y vectores cuando lleguemos a `numpy`

---

## Input y Output

Hemos ya visto algunos ejemplos de cómo generar entradas y salidas de información con Python (`print` e `input`). Discutamos esto un poco

### Imprimir información en pantalla

In [27]:
print("hola")

hola

In [29]:
edad = 25
nombre = "Gerardo"

In [30]:
print("Hola, soy", nombre, "y tengo", edad, "años.")

Hola, soy Gerardo y tengo 25 años.

In [32]:
print("Hola","me","llamo","gerardo","mathus")

Hola me llamo gerardo mathus

In [35]:
print("Hola","me","llamo","gerardo","mathus",sep="-")

Hola-me-llamo-gerardo-mathus

## Leer datos del usuario
Para leer datos directamente del usuario a través de la consola, ocupamos la función `input()`.

`input()` puede recibir un parámetro `string` el cual se va a mostrar en la pantalla antes de pedir la entrada de los datos. Este parámetro lo podemos utilizar para indicarle al usuario lo que debe ingresar. Veamos algunos ejemplos:

In [36]:
#si no le pasamos un string, simplemente se abre el `prompt` sin mostrar nada
input()

Hola amigo Python!

'Hola amigo Python!'

In [37]:
input("Ingresa el texto que quieras")

Ingresa el texto que quierasHola!!! Qué padre!

'Hola!!! Qué padre!'

Como podemos ver, después de la palabra 'quieras' no hay un espacio, y eso no es agradable a la vista.

In [38]:
input("Dame un nombre: ")

Dame un nombre: Pedro

'Pedro'

Como ahora escribimos `"Dame un nombre: "` entonces el `prompt` se pone después del último espacio. Esto se ve mucho mejor.

Todo lo que leemos de la consola lo podemos almacenar en variables:

In [39]:
nombre = input("Ingresa tu nombre: ")
universidad = input("Ingresa tu univiersidad: ")
lugar_nacimiento = input("Ingresa tu lugar de nacimiento: ")
fecha_nacimiento = input("Ingrsea tu fecha de nacimiento: ")

Ingresa tu nombre: Regina Ramírez
Ingresa tu univiersidad: Universidad Anáhuac
Ingresa tu lugar de nacimiento: Oaxaca
Ingrsea tu fecha de nacimiento: 29 de sep de 1997

In [40]:
nombre

'Regina Ramírez'

In [41]:
universidad

'Universidad Anáhuac'

In [42]:
lugar_nacimiento

'Oaxaca'

In [43]:
fecha_nacimiento

'29 de sep de 1997'

Un error muy común es que se nos olvide convertir texto a números cuando los leemos de la consola:

In [44]:
radio = input("radio del círculo: ")

radio del círculo: 5

In [45]:
import math

In [46]:
area = math.pi * radio**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [47]:
radio

'5'

El problema con lo anterior es que `radio` es un string, y no un número. Cuando leemos números de la consola, tenemos que especificar que estamos leyendo un número entero o flotante

In [48]:
radio = float(input("radio del círculo: "))
area = math.pi * radio**2
print("El área del círculo es:", area)

radio del círculo: 5
El área del círculo es: 78.53981633974483

## Ejercicios
#### Crea un jupyter notebook que se llame `tarea_1_core_python.` La ruta, relativa a tu repositorio, debe ser `tareas/tarea_1_core_python`. Haz uso de markdown para colocar el título del documento, tu nombre y la fecha. Al terminar, deberás subir tus cambios a tu repositorio para que lo pueda revisar.

#### El formato de tus respuestas debe ser el siguiente:

**Enunciado del problema/ejercicio 1 en markdown**

`Solución del problema 1`

--- 

**Enunciado del problema/ejercicio 2 en markdown**

`Solución del problema 2`

---

$\vdots$

---

**Enunciado del problema/ejercicio N en markdown**

`Solución del problema N`



$1.\text{ Escribe un programa que pida la edad del usuario e imprima en pantalla la edad que tendrá en el año 2050.}$

$2.\text{ Dada una lista de números, escribe un programa que pida al usuario un número e imprima True si el número que el usuario ingresa está en la lista, o False si no lo está}$
~~~~python
lista_numeros = [1,2,5,7,6,8,11,33,54,67,33,66,23,76,88,45,22]
~~~~
Para este ejercició será necesario que investigues en internet cómo hacerlo. Algunas palabras claves para tu búsqueda son: `python element in list`

$3.\text{ Escribe un programa que le pida al usuario el nombre de sus dos mejores amigos y después imprima un saludo a cada uno de estos amigos}$

$4.$ Escribe un programa que pida al usuario que ingrese un caracter (o sea, -, !, ., +,etc.) y un número entero. Posteriormente, imprime en pantalla el caracter que dio el usuario repetidas $N$ veces. $N$ siendo el número entero que dio el usuario. Ejemplo: 

$$char \rightarrow \text{'*'}$$
$$N \rightarrow 14$$
$$\text{**************}$$


$5.$ Escribe un programa que pida al usuario su año, mes y día de nacimiento (por separado) y posteriormente imprime su fecha de nacimiento en un solo renglón. Ejemplo:
$$anio \rightarrow 1991$$
$$mes \rightarrow \text{febrero}$$
$$dia \rightarrow 10$$

$$\text{Naciste el 10 de febrero de 1991}$$