# #Core python

In [2]:
#hola soy un comentario y Python no me va a ejecutar

### Números enteros

In [3]:
5

5

In [4]:
-2

-2

In [5]:
[1,2,4]

[1, 2, 4]

 ## Números flotantes

In [6]:
2.3456

2.3456

## Strings

In [7]:
A

NameError: name 'A' is not defined

In [8]:
"s"

's'

In [9]:
'd'

'd'

In [10]:
"soy un string, una cadena de caracteres"

'soy un string, una cadena de caracteres'

In [11]:
"Gerardo \n Mathus"

'Gerardo \n Mathus'

In [12]:
"CARACTERES DE ESCAPE \"HERMOSO\""

'CARACTERES DE ESCAPE "HERMOSO"'

## Booleanos

In [13]:
True

True

In [14]:
False

False

In [15]:
10 > 100

False

In [16]:
5 == 5

True

In [17]:
7<3

False

## Variables

python infiere cual es el tipo de variable, entero o double, etc.

In [18]:
x=5

In [19]:
x

5

In [20]:
type(x)

int

In [21]:
z=45.2

In [22]:
type (z)

float

In [23]:
nombre = "Gerardo Mathus"

In [24]:
type (nombre)

str

In [25]:
comparación = z<x

In [26]:
comparación

False

In [27]:
compracion2

NameError: name 'compracion2' is not defined

## Operadores de comparación

== COMPARACIÓN
= ASIGNACIÓN

!=
<
>
>=
<=

In [28]:
INT(TRUE)

NameError: name 'INT' is not defined

In [29]:
int(True)

1

In [30]:
int(False)

0

## Operadores lógicos

-and -> multiplicación
-or -> suma
-not -> 

para concatenar las comparaciones y hacer unas un poco más complejas

In [31]:
false and true and false or true and false

NameError: name 'false' is not defined

In [32]:
False and True and False and True and False

False

supongamos que queremos otorgar una promoción a todas las mujeres que tengan entre 21 y 30 años

In [39]:
#pedir sexo
sexo = input ("sexo (m/h): ")

#pedir edad
edad = int(input("edad: "))

sexo (m/h): m
edad: 25

In [35]:
promocion_aplica =sexo == 'm' and edad >= 21 and edad <= 30
#FALSE and TRUE AND TRUE
#0*1*1

In [40]:
print("La promoción aplica : ", promocion_aplica)

La promoción aplica :  True

Escribe un programa que determine si se debe o no otorgar una promoción a un hombre, siempre y cuando su edad sea menos de 12 años o más de 65 años

In [43]:
#pedir sexo
sexo = input ("sexo (m/h): ")

#pedir edad
edad = int(input("edad: "))

promocion_aplica_2 = sexo == 'h' and edad < 12 or edad > 65

print("La promoción aplica: ",promocion_aplica_2)

sexo (m/h): h
edad: 66
La promoción aplica:  True

In [44]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Operaciones con datos

- suma +
- resta -
- multiplicación *
- división /
- ** exponenciales
- modular %

In [45]:
10/2

5.0

In [46]:
10/3

3.3333333333333335

In [48]:
10%3 #para matematicas modulares y ver si es par o impar

1

In [49]:
a=5
b=2

In [50]:
a*b

10

In [56]:
string1= "soy una cadena de caracteres"
print(string1)

soy una cadena de caracteres

In [57]:
string2 = "python hace muy facil el manejo de strings"
print (string2)

python hace muy facil el manejo de strings

In [58]:
string1 + string2

'soy una cadena de caracterespython hace muy facil el manejo de strings'

In [59]:
"*" * 40

'****************************************'

In [60]:
string1 / string2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [61]:
string1 - string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [62]:
"<3" *500

'<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3'

# Listas

In [63]:
[1,2,3,4,5,"gerardo",True,2.1]

[1, 2, 3, 4, 5, 'gerardo', True, 2.1]

In [64]:
[25, "Gerardo", [1,2,2.4]]

[25, 'Gerardo', [1, 2, 2.4]]

In [65]:
lista1 = [0,1,1,2,3,4,5,13,21]

las listas empiezan en 0

In [66]:
lista1[0]

0

In [68]:
lista1[4]

3

In [69]:
Lista1 *3

NameError: name 'Lista1' is not defined

In [70]:
lista1*3

[0,
 1,
 1,
 2,
 3,
 4,
 5,
 13,
 21,
 0,
 1,
 1,
 2,
 3,
 4,
 5,
 13,
 21,
 0,
 1,
 1,
 2,
 3,
 4,
 5,
 13,
 21]

In [71]:
lista1[0:4]

[0, 1, 1, 2]

In [72]:
lista1.append(100)

In [73]:
lista1

[0, 1, 1, 2, 3, 4, 5, 13, 21, 100]

# Tuplas

las listas son mutables, podemos cambiar sus valores
en las tuplas y strings no

In [74]:
lista1[4]

3

In [75]:
lista1[4]= "nuevo valor"

In [76]:
lista1

[0, 1, 1, 2, 'nuevo valor', 4, 5, 13, 21, 100]

In [77]:
tupla1 = (1,2,3,4,5,6)

In [78]:
tupla1[2]

3

In [79]:
tupla1[2] = "nuevo valor"

TypeError: 'tuple' object does not support item assignment

In [80]:
str1 = "python es un buen lenguaje"

In [81]:
str1

'python es un buen lenguaje'

In [82]:
str1[4]

'o'

In [83]:
str1[6]

' '

In [84]:
str1[5] = "G"

TypeError: 'str' object does not support item assignment

In [85]:
a=[10,20,30,40,50]

In [86]:
a

[10, 20, 30, 40, 50]

In [92]:
b = a #no estamos creando b, simplemente un espejo de a, una referencia. 
#La memoria hay algún lugar llamado a, luego b es igual a A, entonces b será lo mismo

In [88]:
b

[10, 20, 30, 40, 50]

In [90]:
b.append (60)
b

[10, 20, 30, 40, 50, 60]

In [91]:
a

[10, 20, 30, 40, 50, 60]

In [93]:
b= a[:]

In [94]:
b

[10, 20, 30, 40, 50, 60]

In [95]:
b.append (3)

In [96]:
b

[10, 20, 30, 40, 50, 60, 3]

In [97]:
a

[10, 20, 30, 40, 50, 60]

# Listas multidimensionales

para usar en matrices

# Input y output

In [98]:
print("hola mundo")

hola mundo

In [103]:
edad=25
nombre="Gerardo"

In [104]:
print(edad)

25

In [105]:
print (nombre, edad)

Gerardo 25

In [106]:
print ("hola! me llamo", nombre, "y tengo", edad, "años")

hola! me llamo Gerardo y tengo 25 años

In [107]:
#la función print por defecto separa los argumentos por un espacio

In [108]:
print ("hola! me llamo", nombre, "y tengo", edad, "años", sep="|")

hola! me llamo|Gerardo|y tengo|25|años

In [109]:
print ("hola! me llamo", nombre, "y tengo", edad, "años", sep="\n")

hola! me llamo
Gerardo
y tengo
25
años

In [110]:
input()

hola

'hola'

In [111]:
input("Dame el nombre de tu mascota: ")

Dame el nombre de tu mascota: nextio

'nextio'

In [113]:
mascota= input("dame el nombre de tu mascota: ")

dame el nombre de tu mascota: wookie

In [114]:
mascota

'wookie'

In [115]:
import math

In [ ]:
radio = input ("Dame el radio del círculo: ")

In [117]:
area= math.pi * radio**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [119]:
type(radio) #es un string no un número

str

In [122]:
radio =float(input("Dame el radio del círculo: "))

Dame el radio del círculo: 5

In [123]:
type(radio)

float

In [125]:
area= math.pi * radio**2

In [126]:
area

78.53981633974483